<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/home.css">

    <title>RAC - Sistema de Ar Condicionado Ltda.</title>
    <script>
       

        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 106 || document.documentElement.scrollTop > 106) {
                document.getElementById("navbar").style.background = "#181818";
                document.getElementById("navbar").style.transition = "0.5s";
                document.getElementById("logo").style.width = "64px";   
            }else{
                document.getElementById("navbar").style.background = "none";
                document.getElementById("navbar").style.transition = "0.5s";
                document.getElementById("logo").style.width = "80px"; 
            }
        }
    </script>
</head>

<body>


    <div class="container-fluid m-0 p-0 backgroundIMG">

        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="navbar">
            <div class="container">
                <a class="navbar-brand logo_brand" href="#"><img style="width: 80px !important;" id="logo" class="" src="/img/logoBV 1.png.png" alt="rac sistemas de ar condicionado ltda logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active " aria-current="page" href="#mission">Missão</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="#principles">Princípios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="#contact">Contato</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="#portfolio">Portifolio</a>
                        </li>


                    </ul>
                    
                </div>
                
            </div>
            
        </nav>
        <div class="linha_1">
            <div class="linha_">

            </div>
        </div>
        

        <div id="carouselExampleCaptions" class="carousel slide bg-dark" data-bs-ride="carousel">
            <a class="scrolldown" href="#mission"><img src="/img/Group 11.png" class="img-fluid" alt=""></a>
            <div class="carousel-indicators">
                
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              
              
              
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/img/20210406_094921.png" class=" w-100 img-fluid img-desk" alt="...">
                <img src="/img/mobile.png" class=" w-100 img-fluid img-mobile" alt="...">
                
                <div class="carousel-caption d-none d-md-block">
                  <h1 class="title">RAC</h1>
                  <p class="subtitle">Sistema de Ar Condicionado Ltda.</p>
                </div>
              </div>

              <div class="carousel-item">
                <img src="/img/AVAC-02 1.png" class="img-desk w-100 img-fluid" alt="...">
                <img src="/img/mobile2.png" class=" w-100 img-fluid img-mobile" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    
                    <p class="subtitle">Desenvolvendo soluções em AVAC</p>
                </div>
              </div>

            

              
            </div>
            
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>


          

    </div>

    <section class="mission">
        <div class="container" id="mission">
            <hr class="mt-5 ">
            <h2 class="text-center">Missão</h2>

            <div class="row mt-5 justify-content-center align-items-center">
                <div class="col-md-6 text-center">
                    <img src="/img/missao.jpeg" class="img-fluid" style="max-width: 300px;" alt="">
                </div>
                <div class="col-md-6">
                    <p class="txt">A RAC tem a missão de criar, instalar e manter sistemas de climatização, atendendo as
                        necessidades do CLIENTE, com o uso racional de recursos, dentro dos conceitos de boas práticas
                        de engenharia e preservando o meio ambiente.</p>
                </div>
                
            </div>
        </div>

    </section>

    <section class="principles my-5">
        <div class=" bkg_principles titulo w-100 mx-auto my-auto" id="principles">
            <h1>Princípios</h1>
        </div>
        
            <div class="container">
                <h2 class="text-center mt-5">Comunicação</h2>
                <p class="txt text-center">Promover o trânsito de informações claras e íntegras</p>
                <hr class="text-center mx-auto divisoria">

                <h2 class="text-center mt-5">Simplicidade</h2>
                <p class="txt text-center">Concentrar-se no essencial, sendo ágil e prático</p>
                <hr class="text-center mx-auto divisoria">

                <h2 class="text-center mt-5">Coesão</h2>
                <p class="txt text-center">Promover a cooperação e o trabalho em equipe</p>
                <hr class="text-center mx-auto divisoria">

                <h2 class="text-center mt-5">Criatividade</h2>
                <p class="txt text-center">Ser racional e econômico no uso de recursos, na busca de soluções originais
                </p>
                <hr class="text-center mx-auto divisoria">

                <h2 class="text-center mt-5">Crescimento Humano</h2>
                <p class="txt text-center">Promover o crescimento e desenvolvimento das competências individuais,
                    respeitando as diversidades</p>
                
            </div>
        


    </section>

    <section class="board">
        <div class=" bkg_board titulo w-100 mx-auto my-auto" id="contact">
            <h1>Diretoria</h1>
        </div>

        <div class="container">
            <div class="row mt-5 justify-content-center">
                <div class="col-md-5 mx-right text_right re">
                    <img src="img/Renata_RAC_Sistemas.png" class="img-fluid ft" alt="">
                    <p class="txt text_right mt-3">Renata Salvador Turnaturi</p>
                    
                </div>
                <div class="col-md-1 text-center p-0 m-0 justify-content-center d-flex">
                    <div class="div_separator">
                    </div>
                </div>
                <br>
                <hr class="minW text-center mx-auto">
                <br>
                <div class="col-md-5 joao">
                    <img src="img/Joao_RAC_Sistemas.png" class="img-fluid ft" alt="">
                    <p class="txt mt-3">João Carlos Correa da Silva</p>
                    
                </div>
            </div>
            <div class="mt-5"></div>
            <hr>
            <div class="row mt-4">
                <div class="col-12 text-center mt-5">
                    <h3 class="txt text-center">Telefone para Contato:</h4>
                    <h5  class="txt text-center">(11)2538-4515</h6>
                </div>
            </div>
        </div>


    </section>

    <section class="Technical_capacitation mt-5">
        <div class=" bkg_technical titulo w-100 mx-auto my-auto" id="portfolio">
            <h1>Capacitação Tecnica</h1>
        </div>

        <div class="container mt-5">
            <h2>A Diretoria da RAC possui mais de 30 anos no setor de Climatização executando obras de engenharia
                termica com a Ergo Engenharia ou diretamente junto ao cliente final , tendo reconhecido destaque no
                setor Industrial :</h2>

            <div class="container">
                        <div class="row mt-5">
                            
                            
                                <% empresas.forEach(empresa=>{ %>
                                    <div class="col-md-4 text-center my-4 justify-content-center d-flex align-items-center">
                                        <img src="<%=empresa.logo%>" class="img-fluid" style="max-width: 300px;" alt="<%=empresa.name%> Logo">
                                    </div>
                                <%})%>                            
                        </div>
                    </div>
        </div>
    </section>

    <section class="footer">
        <div class="footer">
            <div class="container-fluid ">
                <div class="row py-5">
                    <div class="col-md-5"></div>

                    <div class="col-md-2 text-center">
                        <a href="#"><img src="img/logoBV 1.png.png" style="width: 128px;" class="img-fluid" alt=""></a>
                        <p class="text-white my-4">Rua Conego Vicente Miguel Marino, 616 <br>
                            Barra Funda - São Paulo <br>
                            CEP: 01135-020
                            </p>                        
                    </div>
                    <div class="col-md-5"></div>
                </div>
                <div class="row bg_copy m-0 p-0">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 text-center">
                        <p class="m-0 py-2">Copyright © RAC Sistema de Ar Condicionado Ltda.</p>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        let emailR = $("#inputEmailRe")
        if(!emailR.val()){
            $(".btnEnv").attr('disabled')
        }
        emailR.on("input", function() {
            var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
            if((emailReg.test($(this).val()))){
                $(".btnEnv").attr('disabled', false)
            }else{
                $(".btnEnv").attr('disabled', true)   
            }
            if($(this).val() == ""){
                $(".btnEnv").attr('disabled', true)
            }
        });

        let emailJ = $("#inputEmailJ")
        if(!emailJ.val()){
            $(".btnEnvJ").attr('disabled')
        }
        emailJ.on("input", function() {
            var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
            console.log(emailReg.test($(this).val()), $(this).val())
            if((emailReg.test($(this).val()))){
                $(".btnEnvJ").attr('disabled', false)
            }else{
                $(".btnEnvJ").attr('disabled', true)   
            }
            if($(this).val() == ""){
                $(".btnEnvJ").attr('disabled', true)
            }
        });
    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>


</body>

</html>
